    <ion-nav-bar class="bar-cream" align-title="center">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      <h1 class="title" ng-click="updateCity()"> <div class="icon-container"><i  ng-class="geoUpdating ? 'ion-loading-c' : 'ion-location'" class="icon"></i></div> {{locationTitle}}</h1>
      <ion-nav-buttons side="right"><button onclick="window.plugins.socialsharing.share('What a beautiful day outside', null, 'https://dl.dropboxusercontent.com/u/124976/sweather2.png', null)"  class="button button-icon icon ion-share"></button></ion-nav-buttons>
    </ion-nav-bar>
<ion-view class="cream-background">

  <ion-content has-header="true" >

  <div class="row">
      <div class="col">
         <h2 class="pink current-title">TODAY</h2>
         <div class="row forecast-row">
          <div class="col"><i class="icon {{currentForecast.icon}} current-forecast"></i></div>
          <div class="col curtemp-col"><h1 class="dark-blue current-temp">{{currentForecast.currentTemp}}</h1></div>
         </div>
      </div>
  </div>

  <div class="row">
    <div class="col col-offset-10">
      <h1 class="dark-blue">{{currentForecast.title}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="temp-details tabs tabs-icon-left">
        <li class="tab-item high-temp"><i class="icon ion-arrow-up-c"></i>{{currentForecast.highTemp}}&deg;</li>
        <li class="tab-item low-temp"><i class="icon ion-arrow-down-c"></i>{{currentForecast.lowTemp}}&deg;</li>
        <li class="tab-item precip"><i class="icon ion-waterdrop"></i>{{currentForecast.humidity}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="five-day tabs tabs-icon-left">
             <li ng-repeat="week in weekForecasts" class="tab-item"><b class="wkday">TU</b><i class="icon {{week.icon}}"></i><span class="tmp-val">{{week.currentTemp}}&deg;</span></li>
      </ul>
    </div>
  </div>  

  </ion-content>
</ion-view>